config/config.php
public/uploads/sponzori/*
!public/uploads/sponzori/originals/
public/uploads/sponzori/originals/*
!public/uploads/sponzori/originals/.htaccess
public/uploads/clan-uprave/*
!public/uploads/clan-uprave/originals/
public/uploads/clan-uprave/originals/*
!public/uploads/clan-uprave/originals/.htaccess
public/uploads/momcadi/*
!public/uploads/momcadi/originals/
public/uploads/momcadi/originals/*
!public/uploads/momcadi/originals/.htaccess
public/uploads/galerije/*
!public/uploads/galerije/originals/
public/uploads/galerije/originals/*
!public/uploads/galerije/originals/.htaccess
public/uploads/novosti/*
!public/uploads/novosti/originals/
public/uploads/novosti/originals/*
!public/uploads/novosti/originals/.htaccess
!public/uploads/.htaccess
